name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
    types:
      - labeled
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  publish-testpypi:
    if: ${{ github.event_name == 'pull_request' && github.event.label.name == 'release' }}
    runs-on: ubuntu-latest
    environment: staging
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build dependencies
        run: |
          pip install --upgrade pip
          pip install build
          # NOTE: see https://github.com/pypa/twine/issues/1216#issuecomment-2629069669
          pip install "packaging>=24.2"

      - name: Build distribution
        run: |
          python -m build
          ls dist/
          tar tvf dist/ituna-*.tar.gz

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-pypi:
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build dependencies
        run: |
          pip install --upgrade pip
          pip install build
          pip install "packaging>=24.2"

      - name: Build distribution
        run: |
          python -m build
          ls dist/
          tar tvf dist/ituna-*.tar.gz

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
