name: PyTest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.11"
            test-type: "base"
            cache-key-suffix: "-base"
            install-cmd: |
              pip install --upgrade pip
              pip install -e .[dev]
            test-cmd: "pytest tests/ -v"
          # - python-version: "3.8"
          #   test-type: "sklearn-compatibility"
          #   cache-key-suffix: "-sklearn-1.3.2"
          #   install-cmd: |
          #     pip install --upgrade pip
          #     pip install pytest
          #     cd ituna-lib
          #     pip install -e .
          #   test-cmd: "pytest ituna-lib/tests/test_sklearn.py -v"
          # - python-version: "3.11"
          #   test-type: "datajoint"
          #   cache-key-suffix: "-datajoint"
          #   install-cmd: |
          #     pip install --upgrade pip
          #     cd ituna-lib
          #     pip install -r requirements.txt
          #     pip install -r requirements3.10.txt
          #     pip install -e .[datajoint,dev]
          #   test-cmd: "pytest ituna-lib/tests/test_datajoint.py -v"

    name: Test (${{ matrix.test-type }}, Python ${{ matrix.python-version }})

    steps:

    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          **/requirements*.txt
          **/pyproject.toml
    - name: Install dependencies
      run: ${{ matrix.install-cmd }}

    - name: Run tests
      run: ${{ matrix.test-cmd }}

    - name: Cleanup build artifacts
      if: always()
      run: |
        # Clean up space-wasters that aren't needed for the cache
        rm -rf .pytest_cache
        find . -type d -name "__pycache__" -exec rm -rf {} +
